<a href="https://colab.research.google.com/github/Kendrik17/web-scraping-Mercados-de-A-es-Europeus-/blob/main/web_scraping_%22Mercados_de_A%C3%A7%C3%B5es_Europeus%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import requests

In [ ]:
#My user agent
header = {'User-Agente': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36'}

In [ ]:

url = 'https://br.investing.com/equities/europe'
request = requests.get(url, header)

df = pd.read_html(request.text)
df

In [ ]:
for i , tabela in enumerate(df):
  print('----------------------------')
  print(i)
  print(tabela)

In [ ]:
df

,Unnamed: 0,Nome,Último,Máxima,Mínima,Variação,Var%,Vol.,Hora,Unnamed: 9
0,NaN,BASF,44445,44610,43130,450,"+1,02%","2,17M",12:35:11,NaN
1,NaN,Bayer,5190,5268,5175,-26,"-0,50%","2,24M",12:35:19,NaN
2,NaN,Allianz,17850,18044,17684,-6,"-0,03%","752,13K",12:35:07,NaN
3,NaN,Adidas,17336,17360,16412,436,"+2,58%","495,61K",12:35:18,NaN
4,NaN,Siemens,10918,10942,10554,266,"+2,50%","1,45M",12:35:08,NaN
5,NaN,Deutsche Bank,8829,8868,8664,102,"+1,17%","7,71M",12:35:21,NaN
6,NaN,Continental,6710,6782,6456,220,"+3,39%","599,12K",12:35:12,NaN
7,NaN,Deutsche Post,40495,40635,39220,715,"+1,80%","2,44M",12:43:52,NaN
8,NaN,Daimler,60520,60800,59260,890,"+1,49%","1,48M",12:35:13,NaN
9,NaN,Porsche Automobil Holding SE,72340,73180,71220,920,"+1,29%","698,55K",12:35:13,NaN
10,NaN,Henkel,6480,6526,6424,8,"+0,12%","364,88K",12:36:26,NaN
11,NaN,Deutsche Borse,172700,175350,172100,-2200,"-1,26%","379,76K",12:35:15,NaN
12,NaN,BMW,77990,78150,76650,900,"+1,17%","932,54K",12:35:54,NaN
13,NaN,Fresenius Medical Care,36650,37520,36650,-240,"-0,65%","909,64K",12:37:55,NaN
14,NaN,Deutsche Tel.,18856,19140,18774,-130,"-0,68%","6,67M",12:35:04,NaN
15,NaN,Merck,18780,18800,18145,380,"+2,07%","268,87K",12:36:46,NaN
16,NaN,Infineon,27065,27180,25810,935,"+3,58%","4,04M",12:40:45,NaN
17,NaN,Munchener Ruck,23500,23880,23160,260,"+1,12%","387,67K",12:35:29,NaN
18,NaN,SAP,93380,93610,91150,1500,"+1,63%","1,53M",12:35:17,NaN
19,NaN,Beiersdorf,102400,102750,100400,450,"+0,44%","205,90K",12:35:19,NaN
20,NaN,Fresenius SE,24670,24940,24450,200,"+0,82%","1,84M",12:35:26,NaN
21,NaN,Hannover Rueckversicherung AG,14620,14885,14605,-120,"-0,81%","107,74K",12:35:12,NaN
22,NaN,RWE,42490,43080,42060,170,"+0,40%","1,88M",12:35:11,NaN
23,NaN,Mtu Aero Engines Holding AG,19005,19115,18770,115,"+0,61%","66,02K",12:38:03,NaN
24,NaN,Symrise AG,109800,110250,105500,2550,"+2,38%","198,88K",12:35:12,NaN
25,NaN,Heidelbergcement,51220,51340,49740,980,"+1,95%","311,08K",12:35:09,NaN
26,NaN,Qiagen NV,48030,48210,47030,450,"+0,95%","327,90K",12:35:16,NaN
27,NaN,E.ON,8950,9258,8852,-214,"-2,34%","7,12M",12:35:28,NaN
28,NaN,Brenntag AG,69540,69760,66020,2240,"+3,33%","413,62K",12:38:05,NaN
29,NaN,Sartorius AG Vz,423800,426800,401400,11000,"+2,66%","61,66K",12:40:27,NaN
30,NaN,Volkswagen VZO,14592,14654,14084,306,"+2,14%","694,66K",12:35:21,NaN
31,NaN,Vonovia,3114,3116,2995,74,"+2,43%","1,73M",12:35:06,NaN
32,NaN,Zalando SE,3132,3144,2864,183,"+6,21%","1,28M",12:38:12,NaN
33,NaN,Puma SE,6776,6784,6306,336,"+5,22%","414,13K",12:43:34,NaN
34,NaN,Covestro,32980,33010,31960,570,"+1,76%","800,04K",12:35:15,NaN
35,NaN,HelloFresh,2832,2865,2670,120,"+4,42%","1,55M",12:35:25,NaN
36,NaN,Siemens Healthineers,5160,5182,4986,78,"+1,53%","625,47K",12:38:24,NaN
37,NaN,Airbus Group,10758,10780,10558,114,"+1,07%","221,80K",12:35:22,NaN
38,NaN,Linde PLC,299250,299500,294700,4500,"+1,53%","402,41K",12:35:55,NaN
39,NaN,Daimler Truck Holding,2793,2797,2717,48,"+1,75%","730,87K",12:35:12,NaN